<nav class="navbar navbar-expand-lg " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AFY</a>
    <button 
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01" [class.show]="isMenuOpen()">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <div [class]= "isMenuOpen() ? 'd-flex flex-column align-items-start gap-2' : 'd-flex flex-row gap-4 justify-content-center'">
        <button type="button" (click)="handleLoginClick()" class="btn text-white custom-blur p-0">Login</button>
        <button type="button" class="btn text-white custom-blur p-0">Sign up</button>
      </div>
    </div>
  </div>
</nav>  