:host {
  display: block;
}

.app-header {
  background: transparent;
}

.login:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

.container{
  margin: 0;
  max-width: none !important;
}
